<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="BaseUrl" value = "https://api.getcloudcherry.com/"/>
    <add key ="Username" value = "ccpa01"/>
    <add key ="Password" value = "Login@123"/>
  </appSettings>
</configuration>